# Python virtual environments
.venv/
venv/
ENV/
env/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Generated data files


# Logs
*.log

# Environment variables
.env
.env.*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# AWS credentials
.aws/ 


# Ignore DS_Store files in parent directories
*.DS_Store
../../.DS_Store
../.DS_Store